body {
    background: #EFF2F7;
}

.popup-sign-success {
    display: none;
    border-radius: 5px;
    padding: 79px 55px 49px 55px;
    margin-top: 100px;
    z-index: 12;
    height: 650px;
    width: 50%;
    left: 25%;
    position: fixed;
    background: #FFFFFF;
}

.popup-sign-success.display, .mask.display {
    display: block;
}

.popup-sign-success .uploaded-files {
    background: #F7F7F7;
}

.popup-sign-success .file {
    border-bottom: 1px solid #E0E6ED;
}

.success-sign {
    height: 78px;
    background: url("../files/img/success.svg") no-repeat center;
}

.close-popup {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    background: url("../files/img/close.svg") no-repeat center;
}

.download {
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
    background: url("../files/img/download.svg") no-repeat center;
    border-radius: 20px;
    border: 1px solid #C0CCDA;
    height: 33px;
    width: 59px;
}

.download:hover {
    background-color: #C0CCDA;
}

.success-text {
    margin: 35px 0 35px 0;
    font-family: Roboto-Light, serif;
    font-size: 20px;
    color: #3C4858;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
}

.mask {
    display: none;
    position: fixed;
    z-index: 11;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.3;
}

.content {
    padding-top: 66px;
}

.step {
    margin-bottom: 69px;
}

.step.op-type {
    display: none;
    margin-bottom: 39px !important;
}

.step.op-type.display {
    display: block;
}

.header {
    padding: 22px 57px 22px 57px;
    height: 92px;
    width: 100%;
    background: #ffffff;
}

.logo-block, .auth-block {
    display: inline-block;
}

.auth-block {
    text-align: right;
    width: 49%;
}

.logo-block {
    width: 50%;
}

.logo-block .logo {
    margin-right: 20px;
    display: inline-block;
    background: url("../files/img/logo.svg") no-repeat center;
    background-size: cover;
    width: 56px;
    height: 49px;
}

.logo-block .text {
    position: relative;
    top: -18px;
    display: inline-block;
    font-family: Roboto-Bold, serif;
    color: #3C4858;
    text-transform: uppercase;
}

.step-title {
    position: relative;
    margin-bottom: 29px;
    font-family: Roboto-Medium, serif;
    font-size: 20px;
    color: #3C4858;
    letter-spacing: 0;
    line-height: 16px;
}

.step-number {
    height: 42px;
    width: 42px;
    background-color: #13CE66;
    border-radius: 21px;
    position: absolute;
    left: -53px;
    top: -12px;
    line-height: 42px;
    text-align: center;
    color: white;
    font-family: Roboto, serif;
}

.step-subtitle {
    font-family: Roboto-Light, serif;
    font-size: 18px;
    color: #3C4858;
    letter-spacing: 0;
    line-height: 24px;
}

.upload, .choose-file, .uploaded-files {
    border-radius: 10px;
    height: 292px;
    width: 100%;
}

.upload {
    cursor: pointer;
    border: 2px solid #DADDE1;
    background: #F4F7FD url("../files/img/upload.svg") no-repeat;
    background-position-y: 83px;
    background-position-x: center;
    text-align: center;
    font-family: Roboto-Light, serif;
    font-size: 16px;
    color: #999999;
    padding: 167px 113px 0 113px;
    letter-spacing: 0;
    line-height: 24px;
    position: relative;
}

.margin-top {
    margin-top: 47px;
}

.upload input {
    z-index: 3;
    cursor: pointer;
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.choose-file, .uploaded-files {
    background: white;
}

.uploaded-files {
    overflow-y: scroll;
}

.file {
    position: relative;
    padding: 15px 22px 15px 22px;
    height: 73px;
}

.file:hover {
    background: #F4F7FD;
}

.file-descr {
    display: inline-block;
}

.file-descr .name {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Roboto-Regular, serif;
    font-size: 16px;
    color: #3C4858;
    letter-spacing: 0;
    line-height: 24px;
}

.file-descr .size {
    display: inline-block;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Roboto-Light, serif;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    text-align: left;
    line-height: 24px;
}

.file-descr .date {
    position: absolute;
    right: 20px;
    bottom: -8px;
    font-family: Roboto-Light, serif;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    line-height: 24px;
}

.file .checkbox {
    position: relative;
    top: -8px;
    margin-right: 16px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #E0E6ED;
    box-shadow: 0 1px 5px 0 rgba(31, 45, 61, 0.05);
}

.file.checked .checkbox {
    background: #1FB6FF url("../files/img/checked.svg") no-repeat center;
}

.file.checked {
    background: #F4F7FD;
}

.file .logo {
    margin-right: 18px;
    display: inline-block;
    width: 33px;
    height: 38px;
}

.file .txt-logo {
    background: url("../files/img/txt-doc.svg") no-repeat;
}

.file .doc-logo {
    background: url("../files/img/doc-doc.svg") no-repeat;
}

.file .jpg-logo {
    background: url("../files/img/jpg-doc.svg") no-repeat;
}

.file .html-logo {
    background: url("../files/img/html-doc.svg") no-repeat;
}

.operation {
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-family: Roboto, serif;
    color: #3C4858;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    padding-top: 65px;
    border: 1px solid #E0E6ED;
    box-shadow: 0 1px 5px 0 rgba(31, 45, 61, 0.05);
    height: 106px;
    width: 100%;
    /*min-width: 222px;*/
    background-position-y: 21px !important;
    background-position-x: center !important;
}

.avatar {
    display: inline-block;
    height: 38px;
    width: 38px;
    margin-right: 10px;
    border-radius: 19px;
    background: #1FB6FF;
    position: relative;
    top: -5px;
}

.or {
    top: 160px;
    z-index: 10;
    right: -24px;
    padding: 12px;
    position: absolute;
    height: 53px;
    width: 53px;
    border-radius: 27px;
    background: #FFFFFF;
    border: 1px solid #E0E6ED;
    box-shadow: 0 1px 5px 0 rgba(31,45,61,0.05);
}

.dropdown {
    cursor: pointer;
    position: relative;
    top: -17px;
    display: inline-block;
    padding-right: 20px;
    background: url("../files/img/dropdown-arrow.svg") no-repeat center right;
}

.dropdown-list.display {
    display: block;
}

.dropdown-list {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.10);
    display: none;
    padding: 30px;
    position: absolute;
    right: 57px;
    top: 103px;
    height: 120px;
    width: 262px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.dropdown-list .item {
    cursor: pointer;
    margin-bottom: 17px;
    font-family: Roboto-Regular, serif;
    font-size: 16px;
    color: #3C4858;
    letter-spacing: 0;
    line-height: 22px;
}

.sign-type {
    display: none;
}

.sign-type.display {
    display: block;
}

button.submit {
    margin-bottom: 72px;
    cursor: pointer;
    border: none;
    height: 53px;
    width: 100%;
    padding: 18px 36px 18px 36px;
    border-radius: 5px;
    background: #13CE66;
    font-family: Roboto-Regular, serif;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
}

button.submit[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
}

.operation.sign {
    background: #FFFFFF url("../files/img/sign.svg") no-repeat;
}

.operation.sign:hover, .operation.sign.selected {
    background: #1FB6FF url("../files/img/sign-hover.svg") no-repeat;
    color: white;
}

.operation.check {
    background: #FFFFFF url("../files/img/check.svg") no-repeat;
}

.operation.check:hover, .operation.check.selected {
    background: #1FB6FF url("../files/img/check-hover.svg") no-repeat;
    color: white;
}

.operation.encrypt {
    background: #FFFFFF url("../files/img/encrypt.svg") no-repeat;
}

.operation.encrypt:hover, .operation.encrypt.selected {
    background: #1FB6FF url("../files/img/encrypt-hover.svg") no-repeat;
    color: white;
}

.operation.decrypt {
    background: #FFFFFF url("../files/img/decrypt.svg") no-repeat;
}

.operation.decrypt:hover, .operation.decrypt.selected {
    background: #1FB6FF url("../files/img/decrypt-hover.svg") no-repeat;
    color: white;
}

.toggler-wrapper {
    position: relative;
    top: -46px;
    margin: 15px;
    display: inline-block;
}

.toggler {
    display: inline-block;
    cursor: pointer;
    position: relative;
    height: 23px;
    width: 63px;
    border-radius: 15px;
    background: #FFFFFF;
    border: 1px solid #E0E6ED;
    box-shadow: inset 0 1px 3px 0 rgba(31, 45, 61, 0.35);
}

.toggler-pos {
    transition: 0.2s;
    position: absolute;
    right: unset;
    left: 0;
    top: -6px;
    height: 33px;
    width: 33px;
    border-radius: 17px;
    background: #1FB6FF;
    box-shadow: 0 1px 5px 0 rgba(20, 31, 44, 0.25);
}

.toggler-pos.right {
    left: unset;
    right: 0;
}

.connected, .disconnected {
    display: inline-block;
    max-width: 165px;
}

.sign-type .title {
    font-family: Roboto-Bold, serif;
    font-size: 17px;
    color: #3C4858;
    letter-spacing: 0;
    line-height: 20px;
}

.sign-type .subtitle {
    font-family: Roboto-Light, serif;
    font-size: 14px;
    color: #3C4858;
    letter-spacing: 0;
    line-height: 18px;
}

.footer {
    padding: 29px 57px 25px 57px;
    height: 93px;
    width: 100%;
    background: #FFFFFF;
}

.footer .taxnet-logo {
    display: inline-block;
    width: 98px;
    height: 15px;
    background-size: contain;
    background: url("../files/img/taxnet-logo.svg") no-repeat center;
}

.footer .copyright {
    display: inline-block;
    font-family: Roboto-Light, serif;
    font-size: 14px;
    color: #768DA7;
    letter-spacing: -0.34px;
    text-align: left;
    line-height: 40px;
}