<div class="file">
    <div class="checkbox"></div>
    <div class="txt-logo logo"></div>
    <div class="file-descr">
        <p class="name">Текстовый документ.txt</p>
        <p class="size">29 байт</p>
        <p class="date">от 13.10.2017</p>
    </div>
</div>